<html>
    <head>
        <title>Express Server Starter</title>
    </head>
    <body>
        <h3>Express Server</h3>
        This server is an example.
        <ul>
            <li><a href="getCustomers">get all cutomers</a></li>
            <li><a href="processPO">process a purchase order</a></li>
        </ul>
    </body>
</html>