<html>

<head>
    <title>Process PO Transaction Result</title>
</head>

<body>
    <h3>Process PO Transaction Result</h3>
    <il>
        <% for (item in data) { %>
            <li>
            <%= item %>: <%= data[item] %>
            </li>
        <% }; %>
    </il>
</body>

</html>